    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Inscription</li>
        </ul>
                      <!-- BEGIN PAYMENT ADDRESS -->
              <div id="checkout" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                      Crèer un compte
                  </h2>
                </div>
                <div id="checkout-content" class="panel-collapse collapse in">
                  <div class="panel-body row">
                    <div class="col-md-6 col-sm-6">
                      <h3>Your Personal Details</h3>
                      <div class="form-group">
                        <label for="firstname">Nom <span class="require">*</span></label>
                        <input [(ngModel)]="name" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="lastname">Prenom <span class="require">*</span></label>
                        <input [(ngModel)]="prenom" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="email">Login <span class="require">*</span></label>
                        <input [(ngModel)]="login" type="text" class="form-control" id="login" name="login">
                      </div>
                      <div class="form-group">
                        <label for="email">E-Mail <span class="require">*</span></label>
                        <input [(ngModel)]="mail" type="text" class="form-control" id="mail" name="mail">
                      </div>
                      <div class="form-group">
                        <label for="telephone">Telephone <span class="require">*</span></label>
                        <input [(ngModel)]="tel" type="text" class="form-control" id="tel" name="tel">
                      </div>
                      <div class="form-group">
                        <label for="fax">Fax</label>
                        <input [(ngModel)]="fax" type="text" class="form-control" id="password" name="password">
                      </div>

                      <h3>Your Password</h3>
                      <div class="form-group">
                        <label for="password">Password <span class="require">*</span></label>
                        <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="password-confirm">Password Confirm <span class="require">*</span></label>
                        <input type="password" id="password-confirm" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <h3>Your Address</h3>
                      <div class="form-group">
                        <label for="company">Company</label>
                       <input [(ngModel)]="company" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="address1">Adresse</label>
                        <input [(ngModel)]="addresse" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="city">Ville<span class="require">*</span></label>
                        <input [(ngModel)]="ville" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="post-code">Post Code <span class="require">*</span></label>
                        <input [(ngModel)]="poste" type="text" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group">
                        <label for="country">Pays <span class="require">*</span></label>
                           <input [(ngModel)]="pays" type="text" class="form-control" id="password" name="password">
                      </div>
                    </div>
                    <hr>
                    <div class="col-md-12">                      
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I wish to subscribe to the OXY newsletter. 
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" checked="checked"> My delivery and billing addresses are the same.
                        </label>
                      </div>
                      <button (click)='register()' class="btn btn-primary  pull-right" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address">Inscription</button>                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PAYMENT ADDRESS -->
      </div>
    </div>
